body{
    background-color: #FEFBE7;
    margin: 10px;
}
h1{
    color: rgb(221, 7, 7);
    font-family: s;
}
hr{
    background-color: gray;
}
#p1{
    font-style: italic;
    font-weight:bolder;
    font-size: 24px;
    color: rgb(216, 40, 40);
}
ol{
    color: rgb(114, 3, 3);
    line-height: 40px;
    font-size: larger;
    
    
}
ul{
    color: rgb(172, 33, 33);
    letter-spacing: 6px;
    font-size: larger;
    
}
#s1{
    text-decoration: line-through;
    font-weight:bold;
}
#s2, #s4{
    font-weight:bold;
    color:rgb(110, 37, 37);
    
}
#s3{
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}
a{
    color: rgb(80, 23, 22);
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    background-color:#F76E11;
}
p{
    color: brown;
    font-size: 18px;
    font-weight:200;
}